[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.3.2"
arrow = "==0.12.1"
billiard = "==3.5.0.4"
blessed = "==1.15.0"
"boto3" = "==1.9.25"
botocore = "==1.12.25"
celery = "==4.2.1"
certifi = "==2018.10.15"
chardet = "==3.0.4"
django = "==2.1.2"
django-picklefield = "==1.1.0"
django-q = "==1.0.1"
docutils = "==0.14"
idna = "==2.7"
jmespath = "==0.9.3"
jsonfield = "==2.0.2"
kombu = "==4.2.1"
pyjwt = "==1.6.4"
pysocks = "==1.6.8"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests = "==2.19.1"
"s3transfer" = "==0.1.13"
six = "==1.11.0"
twilio = "==6.19.1"
"urllib3" = "==1.23"
vine = "==1.1.4"
wcwidth = "==0.1.7"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.7"
